<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello JJ Medical</title>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="py-5 text-center">
        <h1><span th:text="${memberName}" class="alert alert-danger" />님은 접근 권한이 없습니다.</h1>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>